.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 80px;
  color: white;
  padding: 10px;
  font-size: 1rem;
  border-bottom: 0.5px solid $lgrey;
  .nav-links {
    display: flex;
    align-items: center;
    width: 30%;
    list-style-type: none;
  }
  .link-styles {
    color: $lgrey;
    letter-spacing: 1.5px;
    text-decoration: none;
    margin: 0 20px;
  }
}
