.sideDrawNav {
  height: 100%;
  background: black;
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  transition: all 0.5s ease;
  transform: translateX(-50%);
}

.sideDrawNav.open {
  transform: translateX(50);
}
