@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import "normalize";
@import "variables";
@import "navbar";
@import "hamburger";
@import "sideDrawNav";
html {
  height: 100%;
}

body {
  font-family: $montserrat;
  background: $carbon;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  body {
    background: lightblue;
  }
}
